.login-head {
    color: #d32323;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    margin: 114px 0 0 0;
    padding-bottom: 6px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.signup-head {
    color: #d32323;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0 0 0;
    padding-bottom: 6px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loginForm {
    display: flex;
    justify-content: center;
    padding: 15px 0 36px 0;
}

.loginbox {
    width: 300px;
    padding: 30px 30px 0 30px;
    margin: 0 44.5px 30px 10.5px;
    height: 679px;
    display: block;
}

.login-to-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 0 0 12px 0;
}

.demo-user-button {
    background-color: #3b5998;
    padding: 6px 18px 4px 5px;
    width: 300px;
    height: 36px;
    border: solid #3b5998 1px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.demo-user-button:hover {
    transition: opacity 0.5s ease;
    cursor: pointer;
    opacity: 80%;
}

.demo-user-button i {
    padding-right: 10px;
}

.signup-divider {
    text-align: center;
    margin: 24px 0px 24px 0px;
    font-size: 14px;
    color: #666;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divider-or {
    margin: 0 15px;
}

.divider-line {
    width: 124px;
    font-size: 14px;
    line-height: 7px;
    margin-bottom: 7px;
    border-bottom: solid #ccc 1px;
}

.login-to-signup-mini {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
    color: #999;
    padding: 12px 0 0 0;
    
}

.signup-link {
    padding-left: 3px;
    color: #0073bb;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signupForm {
    height: 786px; 
    display: flex;
    justify-content: center;
}

.loginForm form {
    display: flex;
    flex-direction: column;
}

.loginForm form label {
    display: flex;
    justify-content: center;
    align-content: center; 
}




.login-submit {
    color: white;
    background-color: #d32323;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #d32323;
    padding: 10px 13px;
    font-size: 16px;
    font-weight: bold;
}

.login-submit:hover {
    transition: opacity 0.3s ease;
    cursor: pointer;
    opacity: 85%;
}

.loginForm form label input {
    width: 100%;
    border-radius: 3px;
    padding: 5px 9px;
    font-size: 14px;
    margin-bottom: 8px;
    border: solid 1px #999;
}

.signupForm form label input {
    width: 100%;
    border-radius: 3px;
    padding: 5px 9px;
    font-size: 14px;
    margin-bottom: 8px;
    border: solid 1px #999;
}

.signupForm form {
    display: flex;
    flex-direction: column;
}

.signupForm form label {
    display: flex;
    justify-content: center;
    align-content: center; 
}

.signup-password {
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.login-pic {
     margin-top: 117px;
    object-fit: contain;
}

.signup-birthday-label {
    display: flex;
    flex-direction: row;
}

.local {
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
}

.spacer {
    width: 15px;
}

.terms {
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 12px;
    margin-left: 10px;
    color: #333;
}

.birthday-terms {
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 12px;
    margin-left: 10px;
    color: #999;
}

.sign-container {
    height: 459px;
    margin-left: 83px;
    display: flex;
    
}

.login-container {
    height: 488px;
    margin-left: 83px;
    display: flex;
    
}