
.gray-top {
    height: 21px;
    padding: 0px 0px 6px 0px;
    background-color: #666;
    color: white;
    font-size: 12;
    text-align: center;
}

.gray-top-text {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.28571em;
    margin-left: 6px;
}

.gray-top-text:hover {
    text-decoration: underline;
}

.nav-bar {
    width: 100%;
    height: 600px;
    background-image: url(https://images.unsplash.com/photo-1523634700860-90d0ef74f137?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2125&q=80);
    background-position: 20% 60%;
    background-size: 2000px, 3000px; 
}

.nav-top {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    height: 36px;
}

.nav-bar-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.nav-bar-upleft {
    border-bottom: solid transparent 2px;
    padding: 9px 12px 8px 12px;
}

.nav-bar-upleft:hover {
    /* text-decoration: underline; */
    
    border-bottom: solid white 2px;
    
    /* padding-left: 12px; */
}

.nav-buffer {
    padding-left: 12px;
}


.hootz {
    display: flex;
    justify-content: center;
    text-decoration: white;
    font-size: 50px;
    text-shadow:    
    2px  2px     #fff, 
    -2px  2px     #fff, 
    2px -2px     #fff, 
    -2px -2px     #fff;
    margin: 0px 0px 48px 0px;  
}

.main-login {
    color: white;
    text-decoration: none;
    margin-right: 12px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-bottom: solid transparent 2px;
    padding: 9px 12px 8px 12px;
    font-size: 14px;
}

.main-login:hover {
    border-bottom: solid white 2px;
}

.main-signup {
    transition: background-color 0.6s ease;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid white;
    padding: 7px 24px 8px;
    font-weight: 700;
}

.main-signup:hover {
    transition: background-color 0.6s ease;
    /* transition: color 0.5s ease; */
    background-color: white;
    color: #666;
}


.empty-placeholder {
    height: 1000px;
    width: 100%;
}


.nav-search {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #666;

}

.nav-bottom {
    padding-top: 80px;
    height: 417px;
}

.psuedo-rest {
    border-radius: 4px 0px 0px 4px;
    background-color: white;
    padding: 12px 12px 10px 11px;
    font-weight: bold;
}

.searchbar-rest {
    width: 417px;
    height: 45px;
    border: none;
    font-size: 18px;
    color: #333;
    
}

.searchborder {
    position: absolute;
    margin: 8px 0 8px 0;
    height: 30px;
    border-left: solid #ccc 1px;
}

.psuedo-loc {
    background-color: white;
    padding: 12px 12px 10px 11px;
    font-weight: bold;
    
}

.searchbar-loc {
    width: 353px;
    height: 45px;
    border: none;
    font-size: 18px;
    color: #333;
}

.nav-search button {
    transition: background-color .6s ease;
    background-color: #d32323;
    color: white;
    border: none;
    padding: 14px 23px 13px 23px;
    border-radius: 0 4px 4px 0;
}

.nav-search button:hover {
    transition: background-color .6s ease;
    background-color: #b71301;
}

.nav-search button:active {
    background-color: #8d0005;

}


.empty-placeholder {
    display: flex;
    flex-direction: column;
}

.link {
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    background-color: #d32323;
}