
div {
    /* border: solid 1px springgreen; */
}

.restaurant-head-container {
    height: 49px;
    padding: 24px 0 60px 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.restaurant-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: flex-end; */
    width: 100%;
}


.restaurant-mid-head-container {
    display: flex;
    flex-direction: row;
    width: 960px;
}

.restaurant-right-container {
display: flex;
flex-direction: row;
justify-content: flex-end;    
}

.restaurant-left-margin {
    margin-right: 32px;
    width: 15%;
}
.restaurant-logo-container {
}

.restaurant-logo {
   background-color: #f40d15;
    width: 102px;
    border-radius: 4px;
    padding: 0 3px;
}

.restaurant-top-link {
    color: #2b273c;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 100px;
    height: 20px;
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
}


.restaurant-top-link:hover {
    background-color: #eeeeef;
    border-radius: 4px;
    cursor: pointer;

}



.restaurant-nav-search {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #666;
    width: 842px;
    box-shadow: 0 2px 18px rgba(0,0,0,.15);
    border-radius: 4px 0 0 4px;

    
}

.restaurant-nav-search button {
    background-color: #d32323;
    color: white;
    border: none;
    width: 56px;
    height: 48px;
    padding: 14px 18px 13px 18px;
    border-radius: 0 4px 4px 0;
    /* box-shadow: 0 2px 18px rgba(0,0,0,.15); */
}

.restaurant-nav-search button:hover {
    cursor: pointer;
}

.restaurant-nav-search button:active {
    transition: background-color 0.0s ease;
    background-color: #f40d15;
}

.restaurant-searchbar-rest {
    width: 407px;
    height: 48px;
    border: none;
    font-size: 18px;
    color: #333;
    border-radius: 4px 0 0 4px;
    /* box-shadow: 0 2px 18px rgba(0,0,0,.15); */
    
}

.restaurant-searchborder {
    position: absolute;
    padding-left: 37px;
    margin: 11px 0 11px 0;
    height: 24px;
    border-left: solid #eeeeef 2px;
    
}

.restaurant-searchbar-loc {
    width: 373px;
    padding-left: 6px;
    height: 48px;
    border: none;
    font-size: 18px;
    color: #333;
    /* box-shadow: 0 2px 18px rgba(0,0,0,.15); */
}

.restaurant-signup-login {
    width: 240px;
    display: flex;
    justify-content: flex-end;
}

.restaurant-logout {
    width: 92px;
    height: 40px;
    /* padding: 8px 16px; */
    margin-left: 12px;
    margin-top: 3px;
    margin-right: 15px;
    background-color: #f40d15;
    color: white;
    border-radius: 4px;
    border: solid 1px #f40d15;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}


.restaurant-signup {
    width: 92px;
   
    padding: 10px 15px 11px 14px;
    margin-left: 12px;
    margin-right: 40px;
    background-color: #f40d15;
    color: white;
    border-radius: 4px;
    border: solid 1px #f40d15;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    top: 10px;
    
}

.restaurant-login {
    width: 92px;
   
    padding: 10px 16px 11px 16px;
   
    background-color: white;
    color: #333;
    border-radius: 4px;
    border: solid 1px #bbbac0;;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    top: 10px;
    
}

.restaurant-login:hover {
    transition: .8s background-color ease;
    background-color: #eeeeef;
}











.restaurant-login-container {
    /* display: flex;
    justify-content: flex-end; */
}