.r-pic-container {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.r-pic {
    width: 25%;
    border: solid 1px white;
    background-color: steelblue;
    object-fit: cover;
    /* width: 300px;
    height: 298px; */
}

.r-inside {
    /* object-fit: ; */
    width: 300px;
    height: 298px;
}

.r-mid {
    display: flex;
    justify-content: center;
}

.r-main {
    margin-top: 18px;
    width: 960px;
    display: flex;
    /* position: relative; */
}

.r-vertical {
    width: 605px;
    padding-right: 36px;

}


.r-info {
    display: flex;
    font-size: 16px;
    color: #333;
}

.r-name {
    color: #333;
    padding-top: 6px;
    line-height: 1.2em;
    font-weight: 700;
    font-size: 30px;
    height: 39px;
}

.r-claimed {
    margin-top: 20px;
    font-size: 14px;
    color: #0073bb;
    margin-left: 6px;
    display: flex;
}

.r-claim-text {
    color: #333;
    padding-left: 6px;
}

.r-stars {
    color: #E4574F;
}

.r-review-count {
    color: #666;
    font-size: 16px;
    /* padding: 3px; */
    margin-left: 6px;
}

.r-cost {
    margin-top: 6px;
    width: 40px
}

.r-tags {
    margin-top: 6px;
    margin-left: 10px
}

.r-top-review {
    font-weight: bold;
    font-size: 12px;
    color: #d32323;
    margin-top: 18px;
    padding: 7px 8px 8px 8px;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.r-top-review:hover {
    transition: background-color .8s ease;
    background-color: #faf0f0;
    border: solid 1px #fcdedc;
    cursor: pointer;
}

.r-breakline {
    border-bottom: solid 1px #e6e6e6;
    width: 605px;
    margin-top: 24px;
}

.r-section-label {
    padding-top: 24px;
    color: #333;
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.3125em;
}

.r-about {
    width: 605px;
    font-size: 14px;
    color: #333;
    line-height: 1.28571em;
}

.r-location {
    width: 605px;
    font-size: 14px;
    color: #333;
    line-height: 1.28571em;
}

.r-reviews {
    width: 605px;
    font-size: 14px;
    color: #333;
    line-height: 1.28571em;
}


.r-sticky-info {
    display: flex;
    flex-direction: column;
    width: 317px;
    height: 150px;
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    /* position: -webkit-sticky;  */
    position: sticky;
    top: 18px;
    padding: 0 6px;
}

.r-website {
    padding: 14px 11px 11px 11px;
    width: 283px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 14px;
    height: 24px;
    color: #666;

}

.r-phone {
    padding: 16px 11px 11px 11px;
    width: 283px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 14px;
    height: 24px;
    color: #666;

}

.r-directions {
    padding: 16px 11px 11px 11px;
    width: 283px;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    color: #666
}

.r-sticky-label {
    padding-left: 10px;
    text-decoration: none;
    color: #0073bb;
}

.r-sticky-label-phone {
    padding-left: 10px;
    text-decoration: none;
    color: #666;
}

.r-sticky-label:hover {
    text-decoration: underline;
}


/* email */
.r-dropdown {
    position: relative;
    width: 80px;
}


.r-dropdown:hover .claimClass {
    display: block;
}

.r-dropdown:hover .claimClassTriangle {
    display: block;
}



.claimClass {
    display: none;
    position: absolute;
    font-size: 14px;
    border: solid 1px #ccc;
    border-radius: 6px;
    height: 36px;
    width: 320px;
    padding: 11px 5px 11px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    background-color: white; 
    /* padding: 0 10px; */
}

.claimClassTriangle {
    display: none;
    position: absolute;
    width: 185px;
    margin: 10px; 
    z-index: 2;
    height: 0px;
    top: -60px;
    left: 10px;
}



.claimClass:after {
	content: '';
	position: absolute;
	top: 59px;
	left: 29px;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-top-color: #ccc;;
	border-bottom: 0;
	margin-left: -10px;
    margin-bottom: -10px;
    z-index: 2;
    
}



.claimClassTriangle:after {
    content: '';
	position: absolute;
	top: 59px;
	left: 31px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -10px;
    margin-bottom: -10px;
    z-index: 2;
}

/* email */
