.rating-form {
    display: flex;
    flex-direction: row-reverse;
    float: left;

}

.rating-form div {
    width: 30px;
    height: 30px;
    background-color: rgb(195, 195, 195);
    margin: 2px;
    font-size: 22px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

#rate-text {
    padding-top: 10px;
    margin-left: 202px;
}

.rate1, .rate2, .rate3, .rate4, .rate5 {
    color: white;
}

/* .rate1:hover {
    background-color: yellow;
}

.rate2:hover, .rate2:hover ~ .rate1 { 
    background-color: goldenrod;
}  

.rate3:hover, .rate3:hover ~ .rate1, .rate3:hover ~  .rate2  {
    background-color: peru;
}

.rate4:hover, .rate4:hover ~ .rate1, .rate4:hover ~ .rate2, .rate4:hover ~ .rate3  {
    background-color: orangered;
}

.rate5:hover, .rate5:hover ~ .rate4, .rate5:hover ~ .rate3, .rate5:hover ~ .rate2, .rate5:hover ~ .rate1{
    background-color: red;
} */

.review-box {
    width: 625px;
    height: 581px;
    
}

.review-box-inner textarea{
 width: 587px;
height: 258px;
}

.review-center {
    display: flex;
    justify-content: center;
}