.rating-form {
    display: flex;
    flex-direction: row-reverse;
    float: left;

}

.rating-form div {
    width: 30px;
    height: 30px;
    background-color: rgb(195, 195, 195);
    margin: 2px;
    font-size: 22px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

#rate-text {
    padding-top: 10px;
    margin-left: 202px;
}

.rate1, .rate2, .rate3, .rate4, .rate5 {
    color: white;
}

.return-to-restaurant {
    font-size: 40px;
    line-height: 1.16667em;
    font-weight: 700;
    color: #0073bb;
    margin-bottom: 6px;
    text-decoration: none;
}

.return-to-restaurant:hover {
    border-bottom: 3px solid #0073bb;
    /* text-decoration: #0073bb; */
}

/* .rate1:hover {
    background-color: yellow;
}

.rate2:hover, .rate2:hover ~ .rate1 { 
    background-color: goldenrod;
}  

.rate3:hover, .rate3:hover ~ .rate1, .rate3:hover ~  .rate2  {
    background-color: peru;
}

.rate4:hover, .rate4:hover ~ .rate1, .rate4:hover ~ .rate2, .rate4:hover ~ .rate3  {
    background-color: orangered;
}

.rate5:hover, .rate5:hover ~ .rate4, .rate5:hover ~ .rate3, .rate5:hover ~ .rate2, .rate5:hover ~ .rate1{
    background-color: red;
} */

.review-box {
    width: 625px;
    height: 581px;
    margin-bottom: 100px;

    
}

.review-box-inner textarea{
    padding-top: 20px;
    font-size: 18px;
    /* color: rgb(195, 195, 195); */
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.44em;
 width: 587px;
height: 258px;
border: none;
resize: none;
outline: none;
}

.review-box-inner {
    border: rgb(195, 195, 195) solid 1px;
    border-radius: 5px;
    padding: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 345px;
    width: 587px;
}

.review-center {
    display: flex;
    justify-content: center;
}

.login-submit {
    width: 240px;
    height: 48px;
    outline: none;
}